In [22]:
#!pip install --upgrade pip
#!pip install xlrd

import numpy as np
import pandas
import time
import pprint
import geopandas
import os
import re
#from SciServer import CasJobs
#from pprint import pprint
print('ok')

ok

In [2]:
pandas.set_option('display.max_colwidth', -1)

s = time.time()

debug = 1

for thisyear in range(2018,2009,-1):
    print('Processing metadata for {0:.0f}...'.format(thisyear))
    basedir = '/home/idies/workspace/Temporary/raddick/census_scratch/acs5/'
    yeardir = basedir + '{0:.0f}/'.format(thisyear)
    rawdatadir = yeardir + 'rawdata/'

    if (thisyear == 2018):
        metadir = yeardir + 'metadata/'
    elif (thisyear == 2017):
        metadir = yeardir + 'metadata/xls_temp/'
    elif (thisyear == 2016):
        metadir = yeardir + 'metadata/templates/'
    elif (thisyear == 2015):
        metadir = yeardir + 'metadata/'
    elif (thisyear == 2014):
        metadir = yeardir + 'metadata/seq/'
    elif (thisyear == 2013):
        metadir = yeardir + 'metadata/'
    elif (thisyear == 2012):
        metadir = yeardir + 'metadata/'
    elif (thisyear == 2011):
        metadir = yeardir + 'metadata/'
    elif (thisyear == 2010):
        metadir = yeardir + 'metadata/'

    vardir = yeardir + 'variables/'

    for thisdir in [vardir]:#[datadir, errordir, vardir, geodir]:
        #print(thisdir)
        if not(os.path.exists(thisdir)):
            os.makedirs(thisdir)

    sequences = []

    if (thisyear >= 2017):
        sequences = ['seq'+str(y)+'.xlsx' for y in sorted([int(x[3:x.find('.')]) for x in os.listdir(metadir) if 'seq' in x])]
    else:
        sequences = ['Seq'+str(y)+'.xls' for y in sorted([int(x[3:x.find('.')]) for x in os.listdir(metadir) if 'Seq' in x])]

    metadata_df = pandas.DataFrame()

#    for i in range(1,5):
    for i in range(1,len(sequences)+1):
        if (debug >=1):
            if ((np.mod(i, 10) == 0) | (i == len(sequences))):
                print('\treading metadata for sequence {0:.0f}...'.format(i))
        if (thisyear >= 2017):
            this_seq_metadata_filename = metadir + 'seq{0:.0f}.xlsx'.format(i)
        elif (thisyear == 2011):
            this_seq_metadata_filename = metadir + 'Seq{0:04d}.xls'.format(i)
        else:
            this_seq_metadata_filename = metadir + 'Seq{0:.0f}.xls'.format(i)

        this_seq_metadata_in_cols_df = pandas.read_excel(this_seq_metadata_filename, header=None, encoding='utf-8')    
        this_seq_metadata_in_cols_df.columns = this_seq_metadata_in_cols_df.loc[0]
        
        this_seq_metadata_df = this_seq_metadata_in_cols_df.T
        this_seq_metadata_df.columns = ['variable', 'description']    
        this_seq_metadata_df = this_seq_metadata_df.assign(sequence_number = i)
        if (i > 1):
            this_seq_metadata_df = this_seq_metadata_df.drop(['FILEID','FILETYPE','STUSAB','CHARITER','SEQUENCE','LOGRECNO'], axis=0)
        this_seq_metadata_df['sequence_number'] == i
        if (debug >= 2):
            print('\t\tMerging datasets...')
        metadata_df = pandas.concat((metadata_df, this_seq_metadata_df), axis=0)

    metadata_df = metadata_df.reset_index(drop=True)
    metadata_df.index.name = 'rownumber'

    print('   writing outfile...')
    metadata_df.to_csv(vardir+'variables_acs_5yr_all.csv', encoding='utf-8')
e = time.time()
print('Done in {0:,.0f} seconds!'.format(e-s))

Processing metadata for 2018...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
	reading metadata for sequence 130...
	reading metadata for sequence 140...
	reading metadata for sequence 142...
   writing outfile...
Processing metadata for 2017...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
	reading metadata for sequence 130...
	reading metadata for sequence 133...
   writing outfile...
Processing metadata for 2016...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
	reading metadata for sequence 122...
   writing outfile...
Processing metadata for 2015...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
	reading metadata for sequence 122...
   writing outfile...
Processing metadata for 2014...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
	reading metadata for sequence 121...
   writing outfile...
Processing metadata for 2013...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
	reading metadata for sequence 122...
   writing outfile...
Processing metadata for 2012...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 120...
   writing outfile...
Processing metadata for 2011...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 113...
   writing outfile...
Processing metadata for 2010...
	reading metadata for sequence 10...
	reading metadata for sequence 20...
	reading metadata for sequence 30...
	reading metadata for sequence 40...
	reading metadata for sequence 50...
	reading metadata for sequence 60...
	reading metadata for sequence 70...
	reading metadata for sequence 80...
	reading metadata for sequence 90...
	reading metadata for sequence 100...
	reading metadata for sequence 110...
	reading metadata for sequence 118...
   writing outfile...
Done in 108 seconds!

# Which variables do we need?

In [38]:
basedir = '/home/idies/workspace/Temporary/raddick/census_scratch/acs5/'
yeardir = basedir + '{0:.0f}/'.format(2018)
vardir = yeardir + 'variables/'

z = pandas.read_csv(vardir+'variables_acs_5yr_all.csv', encoding='utf-8', index_col='rownumber')#.loc[0:80]['description'].tolist()
z[
    z['variable'].apply(lambda x: 'B01001' in x)
    #&  (z['description'].apply(lambda x: 'education' in str(x).lower()))
    #& (z['description'].apply(lambda x: '25' in str(x).lower()))
    #& (z['sequence_number'] 
][46:]

,variable,description,sequence_number
rownumber,,,
54,B01001_047,SEX BY AGE%Total population%Total%Female%75 to 79 years,2
55,B01001_048,SEX BY AGE%Total population%Total%Female%80 to 84 years,2
56,B01001_049,SEX BY AGE%Total population%Total%Female%85 years and over,2
57,B01001A_001,SEX BY AGE (WHITE ALONE)% People who are White alone%Total,2
58,B01001A_002,SEX BY AGE (WHITE ALONE)%People who are White alone%Total%Male,2
...,...,...,...
331,B01001I_027,SEX BY AGE (HISPANIC OR LATINO)%Hispanic or Latino population%Total%Female%45 to 54 years,3
332,B01001I_028,SEX BY AGE (HISPANIC OR LATINO)%Hispanic or Latino population%Total%Female%55 to 64 years,3
333,B01001I_029,SEX BY AGE (HISPANIC OR LATINO)%Hispanic or Latino population%Total%Female%65 to 74 years,3
334,B01001I_030,SEX BY AGE (HISPANIC OR LATINO)%Hispanic or Latino population%Total%Female%75 to 84 years,3
335,B01001I_031,SEX BY AGE (HISPANIC OR LATINO)%Hispanic or Latino population%Total%Female%85 years and over,3

In [9]:
pandas.set_option('display.max_colwidth', -1)

s = time.time()

debug = 1

basedir = '/home/idies/workspace/Temporary/raddick/census_scratch/acs5/'
yeardir = basedir + '{0:.0f}/'.format(2018)
rawdatadir = yeardir + 'rawdata/'


metadata_df[
    (metadata_df['description'].apply(lambda x: 'education' in str(x).lower()))
    & (metadata_df['sequence_number'] < 43)
]
#[0:20]
#metadata_df[metadata_df['variable'] == 'B01001_001']



# # SEQUENCE 4: RACE
# #['B02001_001', 'B02001_002', 'B02001_003', 'B02009_001'] 
# # SEQUENCE 23: TRANSPORTATION
# # ['B08013_001']
# # SEQUENCE 36: HOUSEHOLDS
# #['B11001_001']
# # SEQUENCE 43: EDUCATION
# #['B15002_002' to 'B15002_035'; 'C15002A_002' to 'C15002A_011'; 'C15002B_002' to 'C15002B_011']
# # SEQUENCE 48: POVERTY
# # ['B17001_001', 'B17001_002', 'B17001A_001', 'B17001A_002', 'B17001B_001', 'B17001B_002']
# # SEQUENCE 59: INCOME
# #['B19013_001', 'B19013A_001', 'B19013B_001']
# # SEQUENCE 63: INCOME
# #['B19062_001']
# # SEQUENCE 112: HOUSING
# #['B25002_001', 'B25002_002', 'B25002_003', 'B25003_001', 'B25003_002', 'B25003_003', 'B25003A_001', 'B25003A_002', 'B25003A_003', 'B25003B_001', 'B25003B_002', 'B25003B_003']
# # SEQUENCE 115: HOUSING
# #['B25077_001']

# sequence_list = [4, 23, 43, 48, 59, 63, 112, 115]
# for_cra_analysis_mac_varlist = ['B02001_001', 'B02001_002', 'B02001_003', 'B02009_001']
# for_cra_analysis_mac_varlist += ['B08013_001']
# for i in range(2, 36):
#     for_cra_analysis_mac_varlist.append('B15002_{:03d}'.format(i))
# for i in range(2,12):
#     for_cra_analysis_mac_varlist.append('C15002A_{:03d}'.format(i))
# for i in range(2,12):
#     for_cra_analysis_mac_varlist.append('C15002B_{:03d}'.format(i))
# for_cra_analysis_mac_varlist += ['B17001_001', 'B17001_002', 'B17001A_001', 'B17001A_002', 'B17001B_001', 'B17001B_002']
# for_cra_analysis_mac_varlist += ['B19013_001', 'B19013A_001', 'B19013B_001']
# for_cra_analysis_mac_varlist += ['B19062_001']
# for_cra_analysis_mac_varlist += ['B25002_001', 'B25002_002', 'B25002_003', 'B25003_001', 'B25003_002', 'B25003_003', 'B25003A_001', 'B25003A_002', 'B25003A_003', 'B25003B_001', 'B25003B_002', 'B25003B_003']
# for_cra_analysis_mac_varlist += ['B25077_001']
# # metadata_df[
# #     (metadata_df['sequence_number'] == 115) & 
# #     (metadata_df['description'].apply(lambda x: 'value' in x.lower())) & 
# #     (metadata_df['description'].apply(lambda x: 'median' in x.lower()))
# # ]#[0:20]
# #for_cra_analysis_mac_varlist

,variable,description,sequence_number
rownumber,,,
206,B07409_001,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUCATIONAL ATTAINMENT FOR RESIDENCE 1 YEAR AGO IN THE UNITED STATES for Population 25 years and over in the United States% Total living in area 1 year ago:,1
207,B07409_002,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUCATIONAL ATTAINMENT FOR RESIDENCE 1 YEAR AGO IN THE UNITED STATES for Population 25 years and over in the United States% Less than high school graduate,1
208,B07409_003,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUCATIONAL ATTAINMENT FOR RESIDENCE 1 YEAR AGO IN THE UNITED STATES for Population 25 years and over in the United States% High school graduate (includes equivalency),1
209,B07409_004,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUCATIONAL ATTAINMENT FOR RESIDENCE 1 YEAR AGO IN THE UNITED STATES for Population 25 years and over in the United States% Some college or associate's degree,1
210,B07409_005,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUCATIONAL ATTAINMENT FOR RESIDENCE 1 YEAR AGO IN THE UNITED STATES for Population 25 years and over in the United States% Bachelor's degree,1
...,...,...,...
6975,C15002I_007,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (HISPANIC OR LATINO) for Hispanic or Latino population 25 years and over% Female:,40
6976,C15002I_008,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (HISPANIC OR LATINO) for Hispanic or Latino population 25 years and over% Female:% Less than high school diploma,40
6977,C15002I_009,"SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (HISPANIC OR LATINO) for Hispanic or Latino population 25 years and over% Female:% High school graduate, GED, or alternative",40
6978,C15002I_010,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (HISPANIC OR LATINO) for Hispanic or Latino population 25 years and over% Female:% Some college or associate's degree,40
6979,C15002I_011,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (HISPANIC OR LATINO) for Hispanic or Latino population 25 years and over% Female:% Bachelor's degree or higher,40

In [ ]:
# def find_variables4(mdf, tofindlist):
#     # NEED TO REWRITE TO USE REGEX INSTEAD, because now only "Male" returns men; "male" returns women b/c feMALE
# #    varlist = []
#     if (len(tofindlist) == 0):
#         print('CAUTION: No search phrases specified, returning every variable!')
#     if (len(tofindlist) > 4):
#         print('ERROR: list contains more than four search phrases, searching for only the first three')
#     try:
#         string1 = tofindlist[0]
#     except IndexError:
#         string1 = ''
#     try:
#         string2 = tofindlist[1]
#     except IndexError:
#         string2 = ''
#     try:
#         string3 = tofindlist[2]
#     except IndexError:
#         string3 = ''
#     try:
#         string4 = tofindlist[3]
#     except IndexError:
#         string4 = ''

# #    for x in tofindlist:
# #        print(x)
        
#     print('')
    
#     varlist = mdf['variable'][mdf['description'].apply(lambda x: (string1 in x) & (string2 in x) & (string3 in x) & (string4 in x))].values.tolist()
    
#     return varlist
# print('Functions defined')

In [ ]:
# phrases = []
# #phrases.append('Median household income')
# phrases.append('overty')
# #phrases.append('chool')
# #phrases.append('egree')

# metadata_df['variable'] = metadata_df['variable'].astype('str')
# metadata_df['description'] = metadata_df['description'].astype('str')

# thelist = find_variables4(metadata_df, phrases)
# print('Variables found: ',thelist)

# #metadata_df.dtypes
# metadata_df.loc[thelist]

# #Total population: sequence 2, variable B01001_001
# #Aggregate travel time to work: sequence 23, variable B08013_001
# #White alone: sequence 4, variable B02001_003
# #Black alone: sequence 4, variable B02001_004
# #Two or more races: sequence 4, variable B02001_008
# #Hispanic or Latino origin: sequence 5, variable B03001_003
# #Sex by age by educational attainment: sequence 43, variable B15001_001
# #Poverty status in the past 12 months by sex by age: sequence 48, variable B17001_001
# #Median household income: sequence 59, variable B19013_001
# #Aggregate wage or salary income in past 12 months: sequence 63, variable B19062_001

# #SO, the sequences we need are: 2, 4, 5, 23, 43, 48, 59, 63
# #The variables we need are: B01001_001, B08013_001, B02001_003, B02001_004, B02001_008, B03001_003, B15001_001, B17001_001, B19013_001, B19062_001

In [ ]:
#metadata_df[metadata_df['sequence_number'] == 48]