In [ ]:
#!pip install --upgrade pip
#!pip install numpy
#!pip install pandas
#!pip install xlrd

In [ ]:
# Unit of analysis: census tract
# DV: nLoans1, amtLoans1, etc. Also: (overall minus "credit card loans")
#### where credit card loans" are <$100k to businesses with <$10k budget

# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

In [127]:
import numpy as np
import pandas
import os
from IPython.display import display, HTML
import time
import re
print('packages imported...')

pandas.set_option('display.max_colwidth', -1)
basedir = '/home/idies/workspace/Storage/raddick/Baltimore/community_reinvestment_act/datasets/acs5/'
outdir = '/home/idies/workspace/Storage/raddick/Baltimore/community_reinvestment_act/datasets/acs5/'

print('directories set...')
print('Done!')

packages imported...
directories set...
Done!

# Read all metadata

In [8]:
metadata_df = pandas.read_csv(basedir+'metadata.csv', low_memory=False, index_col='Unnamed: 0')
metadata_df = metadata_df.reset_index(drop=True)
metadata_df.index.name = 'varnum'
metadata_df

,variable,description,sequence_number
varnum,,,
0,FILEID,FILEID,0
1,FILETYPE,FILETYPE,0
2,STUSAB,STUSAB,0
3,CHARITER,CHARITER,0
4,SEQUENCE,SEQUENCE,0
5,LOGRECNO,LOGRECNO,0
6,B00001_001,UNWEIGHTED SAMPLE COUNT OF THE POPULATION% Total population%Total,1
7,B00002_001,UNWEIGHTED SAMPLE HOUSING UNITS% Housing units%Total,1
8,B01001_001,SEX BY AGE% Total population%Total,2
9,B01001_002,SEX BY AGE%Total population%Total%Male,2
10,B01001_003,SEX BY AGE%Total population%Total%Male%Under 5 years,2
11,B01001_004,SEX BY AGE%Total population%Total%Male%5 to 9 years,2
12,B01001_005,SEX BY AGE%Total population%Total%Male%10 to 14 years,2
13,B01001_006,SEX BY AGE%Total population%Total%Male%15 to 17 years,2
14,B01001_007,SEX BY AGE%Total population%Total%Male%18 and 19 years,2
15,B01001_008,SEX BY AGE%Total population%Total%Male%20 years,2
16,B01001_009,SEX BY AGE%Total population%Total%Male%21 years,2
17,B01001_010,SEX BY AGE%Total population%Total%Male%22 to 24 years,2
18,B01001_011,SEX BY AGE%Total population%Total%Male%25 to 29 years,2
19,B01001_012,SEX BY AGE%Total population%Total%Male%30 to 34 years,2
20,B01001_013,SEX BY AGE%Total population%Total%Male%35 to 39 years,2
21,B01001_014,SEX BY AGE%Total population%Total%Male%40 to 44 years,2
22,B01001_015,SEX BY AGE%Total population%Total%Male%45 to 49 years,2
23,B01001_016,SEX BY AGE%Total population%Total%Male%50 to 54 years,2
24,B01001_017,SEX BY AGE%Total population%Total%Male%55 to 59 years,2
25,B01001_018,SEX BY AGE%Total population%Total%Male%60 and 61 years,2
26,B01001_019,SEX BY AGE%Total population%Total%Male%62 to 64 years,2
27,B01001_020,SEX BY AGE%Total population%Total%Male%65 and 66 years,2
28,B01001_021,SEX BY AGE%Total population%Total%Male%67 to 69 years,2
29,B01001_022,SEX BY AGE%Total population%Total%Male%70 to 74 years,2
...,...,...,...
27233,B26218_027,AGGREGATE EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Total%Group quarters population%Noninstitutionalized group quarters population%Military quarters/military ships%Female,122
27234,B26218_028,AGGREGATE EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Total%Household population,122
27235,B26219_001,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total,122
27236,B26219_002,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Male,122
27237,B26219_003,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Female,122
27238,B26219_004,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population,122
27239,B26219_005,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Male,122
27240,B26219_006,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Female,122
27241,B26219_007,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population,122
27242,B26219_008,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Male,122
27243,B26219_009,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Female,122
27244,B26219_010,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Adult correctional facilities,122
27245,B26219_011,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Adult correctional facilities%Male,122
27246,B26219_012,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Adult correctional facilities%Female,122
27247,B26219_013,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Nursing facilities/skilled nursing facilities,122
27248,B26219_014,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Nursing facilities/skilled nursing facilities%Male,122
27249,B26219_015,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Nursing facilities/skilled nursing facilities%Female,122
27250,B26219_016,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Juvenile facilities,122
27251,B26219_017,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Juvenile facilities%Male,122
27252,B26219_018,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Institutionalized group quarters population%Juvenile facilities%Female,122
27253,B26219_019,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population,122
27254,B26219_020,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%Male,122
27255,B26219_021,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%Female,122
27256,B26219_022,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%College/university student housing,122
27257,B26219_023,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%College/university student housing%Male,122
27258,B26219_024,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%College/university student housing%Female,122
27259,B26219_025,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%Military quarters/military ships,122
27260,B26219_026,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%Military quarters/military ships%Male,122
27261,B26219_027,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Group quarters population%Noninstitutionalized group quarters population%Military quarters/military ships%Female,122
27262,B26219_028,MEDIAN EARNINGS IN THE PAST 12 MONTHS BY GROUP QUARTERS TYPE [5] BY SEX%Population 16 years and over with earnings%Median earnings in the past 12 months%Total%Household population,122

# Select race-related indpendent variables

In [80]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

xdf = metadata_df[metadata_df['description'].apply(lambda x: 'race' in x.lower())]
xdf.loc[:, 'description'] = xdf['description'].astype('str')

thehtml = '<table>'
thehtml += '<tr><th>varnum</th><th>variable</th><th>description</th><th>sequence</th></tr>'
for ix, thisrow in xdf[(xdf['sequence_number'] == 4) | (xdf['sequence_number'] == 5)].iterrows():
    thehtml += '<tr>'
    thehtml += '<td>'+str(ix)+'</td>'
    thehtml += '<td>'+thisrow['variable']+'</td>'
    thisdesc = thisrow['description'].replace('%','<br />')
    thehtml += '<td>'+thisdesc+'</td>'
    thehtml += '<td>'+str(thisrow['sequence_number'])+'</td>'
    thehtml += '</tr>'
thehtml += '</table>'

display(HTML(thehtml))

ind_vars = ['B02001_001', 'B02001_002', 'B02001_003', 'B03002_001', 'B03002_012']

# Select income-related IVs

In [67]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

xdf = metadata_df[metadata_df['sequence_number'].apply(lambda x: (x >= 59) & (x <= 72))]
xdf = xdf[xdf['description'].apply(lambda x: ('mfi' in x.lower()) | ('median family income' in x.lower()))]
xdf.loc[:, 'description'] = xdf['description'].astype('str')

thehtml = '<table>'
thehtml += '<tr><th>varnum</th><th>variable</th><th>description</th><th>sequence</th></tr>'
for ix, thisrow in xdf.iterrows():
    thehtml += '<tr>'
    thehtml += '<td>'+str(ix)+'</td>'
    thehtml += '<td>'+thisrow['variable']+'</td>'
    thisdesc = thisrow['description'].replace('%','<br /><br />')
    thehtml += '<td>'+thisdesc+'</td>'
    thehtml += '<td>'+str(thisrow['sequence_number'])+'</td>'
    thehtml += '</tr>'
thehtml += '</table>'

display(HTML(thehtml))

ind_vars += ['B19113_001', 'B19113A_001', 'B19113B_001']

#  Select female householder IVs

In [65]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

xdf = metadata_df[metadata_df['sequence_number'].apply(lambda x: (x >= 34) & (x <= 40))]
xdf = xdf[xdf['description'].apply(lambda x: ('female' in x.lower()) & ('householder' in x.lower()))]
xdf.loc[:, 'description'] = xdf['description'].astype('str')

thehtml = '<table>'
thehtml += '<tr><th>varnum</th><th>variable</th><th>description</th><th>sequence</th></tr>'
for ix, thisrow in xdf.iterrows():
    thehtml += '<tr>'
    thehtml += '<td>'+str(ix)+'</td>'
    thehtml += '<td>'+thisrow['variable']+'</td>'
    thisdesc = thisrow['description'].replace('%','<br /><br />')
    thehtml += '<td>'+thisdesc+'</td>'
    thehtml += '<td>'+str(thisrow['sequence_number'])+'</td>'
    thehtml += '</tr>'
thehtml += '</table>'

display(HTML(thehtml))

ind_vars += ['B11001_001', 'B11001_006']

# Unemployment

In [77]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

metadata_df[(metadata_df['sequence_number'] >= 75) & (metadata_df['description'].apply(lambda x: 'unemploy' in x.lower()))]

ind_vars += ['B23025_005']

# Poverty status

In [81]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

metadata_df[(metadata_df['sequence_number'] >= 48) & (metadata_df['description'].apply(lambda x: 'poverty' in x.lower()))]

ind_vars += ['B17001_002']

# Education

In [98]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

metadata_df[
    (metadata_df['sequence_number'] >= 43) & 
    (metadata_df['description'].apply(lambda x: 'educational attainment' in x.lower())) & 
    (metadata_df['description'].apply(lambda x: 'high school' in x.lower())) & 
    (metadata_df['description'].apply(lambda x: 'graduate' in x.lower())) 
]

metadata_df[
    (metadata_df['sequence_number'] == 43) & 
    (metadata_df.index >= 9559)
]

ind_vars += ['B15002_011', 'B15002_028']

# Housing, house value, year built

In [107]:
# IV: [population by race; owner-occupied units; MFI; hs grad pct; 
### female hoh pct; unemployment pct; poverty pct; median home value;
### median home year built

metadata_df[
    (metadata_df['sequence_number'] >= 103) & 
    #(metadata_df['description'].apply(lambda x: 'home' in x.lower())) & 
    (metadata_df['description'].apply(lambda x: 'year' in x.lower())) & 
    (metadata_df['description'].apply(lambda x: 'built' in x.lower())) 
]
ind_vars += ['B25003_002', 'B25077_001', 'B25035_001']

In [155]:
ind_vars = ['B02001_001', 'B02001_002', 'B02001_003', 'B03002_012']   # race
ind_vars += ['B19113_001', 'B19113A_001', 'B19113B_001']   # median family income
ind_vars += ['B11001_001', 'B11001_006']   # female householder
ind_vars += ['B23025_005']   # unemployment
ind_vars += ['B17001_002']   # poverty status
ind_vars += ['B15002_011', 'B15002_028']   # high school graduate (male and female separately)
ind_vars += ['B25003_002', 'B25077_001', 'B25035_001'] # housing: owner-occupied units, median value, median year built

metadata_df[metadata_df['variable'].isin(ind_vars)]

,variable,description,sequence_number
varnum,,,
367,B02001_001,RACE% Total population%Total,4
368,B02001_002,RACE%Total population%Total%White alone,4
369,B02001_003,RACE%Total population%Total%Black or African American alone,4
625,B03002_012,HISPANIC OR LATINO ORIGIN BY RACE%Total population%Total%Hispanic or Latino,5
7816,B11001_001,HOUSEHOLD TYPE (INCLUDING LIVING ALONE)% Households%Total,36
7821,B11001_006,HOUSEHOLD TYPE (INCLUDING LIVING ALONE)%Households%Total%Family households%Other family%Female householder no husband present,36
9571,B15002_011,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER%Population 25 years and over%Total%Male%High school graduate (includes equivalency),43
9588,B15002_028,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER%Population 25 years and over%Total%Female%High school graduate (includes equivalency),43
10885,B17001_002,POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY AGE%Population for whom poverty status is determined%Total%Income in the past 12 months below poverty level,48
14911,B19113_001,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)% Families%Median family income in the past 12 months (in 2017 inflation-adjusted dollars),64
14912,B19113A_001,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER)% Families with a householder who is White alone%Median family income in the past 12 months (in 2017 inflation-adjusted dollars),64
14913,B19113B_001,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER)% Families with a householder who is Black or African American alone%Median family income in the past 12 months (in 2017 inflation-adjusted dollars),64
17992,B23025_005,EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER%Population 16 years and over%Total%In labor force%Civilian labor force%Unemployed,79
22537,B25003_002,TENURE%Occupied housing units%Total%Owner occupied,103
23029,B25035_001,MEDIAN YEAR STRUCTURE BUILT% Housing units%Median year structure built,105
23497,B25077_001,MEDIAN VALUE (DOLLARS)% Owner-occupied housing units%Median value (dollars),106

# Get only the independent variables we need

In [175]:
s = time.time()
estimates_allvars_df = pandas.read_csv(basedir+'estimates_baltimore_city_allvars.csv', low_memory=False, index_col='GEOID')
needcolumns = ind_vars
if ('Geography Name.15' not in needcolumns):
    needcolumns.append('Geography Name.15')
#data_df
estimates_df = estimates_allvars_df[needcolumns]
estimates_df = estimates_df.rename(columns={'Geography Name.15': 'Geography Name'})
estimates_df = estimates_df.assign(tract = pandas.to_numeric(estimates_df['Geography Name'].apply(lambda x: x[re.search('Census Tract ', x).end():re.search(',', x).start()]), errors='coerce'))
estimates_df = estimates_df.set_index('tract')
estimates_df = estimates_df.rename(columns = {'B02001_001': 'total_population', 'B02001_002': 'total_white', 'B02001_003': 'total_black', 'B03002_012': 'total_hispanic'})
estimates_df = estimates_df.rename(columns = {'B19113_001': 'mfi', 'B19113A_001': 'mfi_white', 'B19113B_001': 'mfi_black'})
estimates_df = estimates_df.rename(columns = {'B11001_001': 'total_households', 'B11001_006': 'households_female_holder', 'B23025_005': 'unemployed', 'B17001_002': 'poverty'})
estimates_df = estimates_df.rename(columns = {'B15002_011': 'male_hs_graduates', 'B15002_028': 'female_hs_graduates'})
estimates_df = estimates_df.rename(columns = {'B25003_002': 'total_owner_occupied_housing', 'B25077_001': 'median_home_value', 'B25035_001': 'median_home_year_built'})

estimates_df = estimates_df.assign(total_hs_graduates = estimates_df['male_hs_graduates'] + estimates_df['female_hs_graduates'])

estimates_df = estimates_df.assign(pct_white = estimates_df['total_white'] / estimates_df['total_population'])
estimates_df = estimates_df.assign(pct_black = estimates_df['total_black'] / estimates_df['total_population'])
estimates_df = estimates_df.assign(pct_hispanic = estimates_df['total_hispanic'] / estimates_df['total_population'])
estimates_df = estimates_df.assign(pct_female_hoh = estimates_df['households_female_holder'] / estimates_df['total_households'])
estimates_df = estimates_df.assign(pct_unemployed = estimates_df['unemployed'] / estimates_df['total_population'])
estimates_df = estimates_df.assign(pct_in_poverty = estimates_df['poverty'] / estimates_df['total_population'])
estimates_df = estimates_df.assign(pct_hs_graduates = estimates_df['total_hs_graduates'] / estimates_df['total_population'])
estimates_df = estimates_df.assign(pct_owner_occupied = estimates_df['total_owner_occupied_housing'] / estimates_df['total_households'])

#estimates_df.sample(1).T

cra_iv_columns = ['total_population', 'total_households', 'pct_white', 'pct_black', 'pct_hispanic', 'pct_female_hoh']
cra_iv_columns += ['pct_unemployed', 'pct_in_poverty', 'pct_owner_occupied', 'mfi', 'mfi_white', 'mfi_black']
cra_iv_columns += ['median_home_value', 'median_home_year_built']
cra_iv_data = estimates_df[cra_iv_columns]
cra_iv_data.to_csv(basedir+'cra_iv_estimates.csv', encoding='utf-8')
e = time.time()

print('Done getting needed data in {0:,.0f} seconds!'.format(e-s))

Done getting needed data in 4 seconds!